body {
	margin: 0;
	padding: 0;
	background: #eee;
}


#container {
	width: 1000px;
	margin: 20px auto;
	background: #fff;
	border: #aaa 1px solid;
	border-radius: 10px;
}

#header {
	height: 140px;
}

#logo {
	width: 50%;
	float: left;
}

#username {
	margin-left: 50%;
	text-align: right;
	width: 45%;
	padding: 10px 0;
}

#content {
	margin: 10px auto;
	padding: 10px;
	width: 970px;
}

#location_image {
	margin: 0 auto;
	position: relative;
}

.clearfix {
	clear: both;
}

#footer {
	margin: 10px auto;
	width: 100%;
	text-align: center;

}

#wannago {
	display: block;
	margin: 15px auto 0;
	width: 200px;
	height: 40px;
    background: url('../img/wannago.png');
}

#wannago:hover {
    opacity: 0.7;
}

#photos .location_img {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	height: 100%;
}

#current, #next {
	background: #000;
	position: relative;
}

#current {
	width: 600px;
	height: 370px;
	float: left;
}

#next {
	width: 200px;
	height: 122px;
	margin-left: 20px;
	margin-top: 248px;
	display: inline-block;
	clear: both;
	vertical-align: bottom;
}

#photo_info {
	color: #fff;
	background:#000;
	position: absolute;
	bottom: 0;
	width: 600px;
	text-align: center;
	display: none;
}


#photo_info a, #photo_info a:visited {
	color: #fff;
}

#next_btn {
	width: 60px;
	display: none;
	right: 0;
	position: absolute;
	top: 27px;
	left: 70px;
	background: #fff;
	border: #000 2px solid;
	border-radius: 10px;
}

#next_btn img {
	width: 100%;
}

#next_btn:hover {
	cursor: pointer;
}

.photo_rights {
	width: 100%;
}

.area_check {
	border: 1px solid #000;
}

